.timesF{
    font-family: 'times_new_romanregular' !important;
}

.soraRegularF{
    font-family: 'soraregular' !important;
}

.p22MacF{
    font-family: 'p22_mackinac_probook' !important;
}

.harmonymediumF{
    font-family: 'harmonymedium' !important;
}

.cascadiaF{
    font-family: 'cascadia_coderegular' !important;
}


